{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% block page_checkout_confirm_tos %}
	{{ parent() }}

	{% block page_checkout_confirm_newsletter %}
        {% if config('TeuNewsletterAtCheckout.config.active') and page.showNewsletter %}
		<div class="teu-confirm-newsletter">
			<div class="card checkout-card">
				<div class="card-body">
					<div class="card-title">
						{{ "account.newsletterTitle"|trans|sw_sanitize }}
					</div>

					<div class="form-check">
						{% block page_checkout_confirm_newsletter_control_checkbox %}
							<input type="checkbox" class="checkout-confirm-newsletter-checkbox form-check-input" id="teu-checkout-newsletter" form="confirmOrderForm" name="teu-checkout-newsletter"/>
						{% endblock %}

						{% block page_checkout_confirm_newsletter_control_label %}
							<label for="teu-checkout-newsletter" class="checkout-confirm-nwesletter-label form-check-label">
                                {{ "account.newsletterSettings"|trans({'%shopname%': config('core.basicInformation.shopName')})|sw_sanitize }}
                            </label>
						{% endblock %}
					</div>
				</div>
			</div>
		</div>
        {% endif %}
	{% endblock %}
{% endblock %}
